<br><br>

<div id='myProgress'>
  <div id='myBar'>20%</div>
</div>

<br><br>

<table style="width:80%">
  <tr>
    <th id='date'>Date</th>
    <th id='cat'>Category</th>
    <th id='desc'>Description</th>
    <th id='amt'>Amount</th>
  </tr>
  <tr>
    <td>11/12/13</td>
    <td>Hobbies</td>
    <td>New basketball shoes</td>
    <td>109</td>
  </tr>
  <tr>
    <td>11/14/13</td>
    <td>Gas</td>
    <td></td>
    <td>45</td>
  </tr>
  <tr>
    <td>11/16/13</td>
    <td>Food</td>
    <td>King of Thai</td>
    <td>15</td>
  </tr>
</table>

<button type='button'>+</button>
