@import 'bootstrap-sprockets';
@import 'bootstrap';

#myProgress {
  width: 70%;
  background-color: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

#myBar {
  width: 20%;
  height: 30px;
  background-color: teal;
  text-align: center;
  line-height: 30px;
  color: white;
}

table, th, td {
  border: 1px solid black;
}

td, th {
  padding: 10px;
}

th {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.date {
  background-color: yellow;
  font-size: 20px;
}

.cat {
  background-color: orange;
  font-size: 20px;
}

.desc {
  background-color: lightpink;
  font-size: 20px;
}

.amt {
  background-color: lightblue;
  font-size: 20px;
}

button {
  float: right;
  margin-top: 20px;
  margin-right: 50px;
}

.expense-btn {
  padding: 15px;
  display: inline-block;
  position: relative;
  margin-left: 200px;
}

.jumbotron {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: lightgreen;
}

#spendingBar {
  text-align: center;
  border: 1px solid black;
}
